@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,400;0,500;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Mono', monospace;
}

section{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
background: url(bg01.png)no-repeat;
background-size: cover;
background-position: center;
}

header{
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .welcome{
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: none;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navigation a{
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigation a:not(:last-child){
  margin-right: 15px;
}

header .navigation a:hover{
  background: #F01414;
}

.content{
  max-width: 650px;
  margin: 60px 100px;
}

.content .info h2{
  color: #000;
  font-size: 30px;
  text-transform: none;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info p{
  font-size: 16px;
  font-weight: 500px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.content .info-btn{
  color: #000;
  background: #B9B9B9;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.content .info-btn:hover{
  background: #F01414;
}

.media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a{
  position: relative;
  color: #000;
  font-size: 30px;
  transition: 0.3s;
  transition-property: transform;
}

.media-icons a:not(:last-child){
  margin-right: 30px;
}

.media-icons a:hover{
  transform: scale(1.5);
}
